header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: linear-gradient(to right, #a38c67, #3d3624);
    color: white;
  }

  .logo {
    font-weight: bold;
    font-size: 20px;
  }

  nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }

  .btn-contact {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
  }