<footer class="footer">
    <img src="../img/Logo.png" class="footer__logo">
    <div class="footer__nav">
        <h2 class="footer__title">Navigation</h2>
        <ul class="footer__list">
            <li class="footer__list-item">Home</li>
            <li class="footer__list-item">About</li>
            <li class="footer__list-item">Apartments</li>
            <li class="footer__list-item">Infrastructure</li>
            <li class="footer__list-item">Gallery</li>
        </ul>
    </div>
    <div class="footer__nav">
        <h2 class="footer__title">Contacts</h2>
        <ul class="footer__list">
            <li class="footer__list-item">(406) 555-0120</li>
            <li class="footer__list-item">ul. Chodkiewicza Karola 111, Chorzów</li>
            <li class="footer__list-item">deanna.curtis@example.com</li>
        </ul>
    </div>
    <div class="footer__nav">
        <img src="../img/utub.svg" class="footer__icon">
        <img src="../img/instagramm.svg" class="footer__icon">
        <img src="../img/twitter.svg" class="footer__icon">
        <img src="../img/facebook.svg" class="footer__icon">
    </div>
    <p class="footer__text">By using this website, you agree to the Terms of Service and Privacy Policy</p>
</footer>