<section class="info-section">
  <div class="info-section__background"></div>
  <div class="info-section__box">
    <div class="info-section__grid">
      <div class="info-section__item">
        <img src="https://img.icons8.com/ios-filled/50/briefcase.png" alt="Experience icon" />
        <p>15 years of experience</p>
      </div>
      <div class="info-section__item">
        <img src="/src/img/iconoir_graph-up.svg" alt="Residents icon" />
        <p>30 thousand happy residents</p>
      </div>
      <div class="info-section__item">
        <img src="https://img.icons8.com/ios-filled/50/home.png" alt="Houses icon" />
        <p>22 houses built</p>
      </div>
      <div class="info-section__item">
        <img src="https://img.icons8.com/ios-filled/50/prize.png" alt="Awards icon" />
        <p>9 awards</p>
      </div>
    </div>
    <div class="info-section__philosophy">
      <h2 class="info-section__philosophy-title">Philosophy of our company</h2>
      <p class="info-section__philosophy-text">
        Residential complex "Nice view" is an island of tranquility, security and comfort.<br />
        In our project, we created the opportunity to lead a measured life in the very center of the city.
      </p>
    </div>
  </div>
</section>