
               <section>
       <div class="header">
        <h1 class="header_heading">Choose your apartment</h1>
    </div>
    <div class="main">
        <div class="main_part1">
            <img class="main_img" src="/imgs/img1.png">
            <h2>Type 1</h2>
            <p>total area 23 meters</p>
        </div>
        <div class="main_part2">
            <img class="main_img" src="/imgs/img2.png">
            <h2>Type 2</h2>
            <p>total area 27 meters</p>
        </div>
        <div class="main_part3">
            <img class="main_img" src="/imgs/img3.png">
            <h2>Type 3</h2>
            <p>total area 31 meters</p>
        </div>
    </div>
    <div class="footer">
    <button class="footer_button"><h2>Download catalog</h2></button>
    </div>
</section>

       
       
       



