<section class="section6">
    <div class="section6__box">
        <h1 class="section6__title">Get in touch!</h1>
        <p class="section6__subtitle">Contact us for a quote.</p>
    </div>
    <div class="section6__container">
        <div class="section6__con-box">
            <div class="section6__con-item">
                <img src="../img/map.png" class="section6__con-img">
                <p class="section6__con-text">4517 Washington Ave.</p>
            </div>
            <div class="section6__con-item">
                <img src="../img/gmail.png" class="section6__con-img">
                <p class="section6__con-text">willie.jennings@example.com</p>
            </div>
            <div class="section6__con-item">
                <img src="../img/phone.png" class="section6__con-img">
                <p class="section6__con-text">(+33)7 00 55 54 79</p>
            </div>
        </div>
        <button class="section6__button">Contact us</button>
    </div>
</section>